  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Twitter Events</a>
        <div class="nav-collapse">
            <ul class="nav">
              <!-- <li class="active"><a href="#">Home</a></li> -->

          </ul>
      </div><!--/.nav-collapse -->
  </div>
</div>
</div>

<div class="container">

  <div class="hero-unit">
    <h1>Tweets</h1>
    <div class="container">
        <table>


            <% @tweets.each do |tweet| %>
                <% if tweet.first_pass %>
                <tr>
                    <td><%= tweet.text %></td>
                    <td>
                        <div class="thumbnail span4">
                            <img src="<%= tweet.image %>">
                        </div>
                    </td>
                </tr>
                <% end %>
            <% end %>
        </table>
    </div>

    <hr>

    <footer>
        <p>&copy; Twitter Events</p>
    </footer>

</div>
